<div class="max-w-6xl mx-auto p-6">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-3xl font-bold text-primary">Lista de Usuarios</h1>
  
      <button
        (click)="addUser()"
        class="bg-primary text-white px-4 py-2 rounded shadow-md hover:bg-secondary transition"
      >
        Añadir Usuario
      </button>
    </div>
  
    <div class="bg-card p-4 rounded-lg shadow-md mb-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <input
          type="text"
          [(ngModel)]="usernameFilter"
          (input)="filterUsers()"
          placeholder="Buscar por nombre de usuario"
          class="p-2 border border-gray-300 rounded w-full"
        />
  
        <select [(ngModel)]="roleFilter" (change)="filterUsers()" class="p-2 border border-gray-300 rounded w-full">
          <option value="">Todos los roles</option>
          @for (role of roles; track role.id) {
            <option [value]="role.name">{{ role.name.replace('ROLE_', '') }}</option> <!-- Mostrar sin "ROLE_" -->
          }
        </select>
        
      </div>
    </div>
  
    @if (loading) {
      <p class="text-center text-gray-500">Cargando usuarios...</p>
    } @if (errorMessage) {
      <p class="text-center text-red-500">{{ errorMessage }}</p>
    }
  
    @if (isFiltered) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (user of filteredUsers; track user.id) {
          <app-user-card [user]="user"></app-user-card>
        }
      </div>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (user of users; track user.id) {
          <app-user-card [user]="user"></app-user-card>
        }
      </div>
    }
  </div>
  