<nav class="bg-gray-100 border-b border-gray-300 shadow-md">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex items-center justify-between py-3">
        
        <div class="text-gray-700 text-lg font-semibold">
          <span class="text-primary">Admin > {{ currentSection }}</span>
        </div>
  
        <div class="flex gap-4">
          <a routerLink="/admin/series-management" class="text-gray-700 hover:text-primary">Series</a>
          <a routerLink="/admin/user-management" class="text-gray-700 hover:text-primary">Usuarios</a>
          <a routerLink="/admin/reviews-management" class="text-gray-700 hover:text-primary">Reviews</a>
        </div>
  
      </div>
    </div>
  </nav>
  