<div class="flex justify-center space-x-4 mt-4">
  <button
    (click)="viewSerie()"
    class="px-4 py-2 rounded shadow-md transition bg-blue-500 text-white hover:bg-blue-600"
  >
    Ver
  </button>

  <button
    (click)="editSerie()"
    class="px-4 py-2 rounded shadow-md transition bg-yellow-500 text-white hover:bg-yellow-600"
  >
    Editar
  </button>

  <button
    (click)="deleteSerie()"
    class="px-4 py-2 rounded shadow-md transition bg-red-500 text-white hover:bg-red-600"
  >
    Eliminar
  </button>
</div>
