<app-user-navbar [currentSection]="'Dashboard'"></app-user-navbar>

<div class="max-w-6xl mx-auto p-6">
  <div class="bg-white p-4 shadow-md rounded-lg mb-6">
    <h1 class="text-3xl font-bold text-primary text-center mb-6">
      🔥 Últimas Novedades
    </h1>

    @if (latestSeries.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6">
      @for (serie of latestSeries.slice(0, 3); track serie.id) {
      <app-series-card [serie]="serie"></app-series-card>
      }
    </div>
    } @else {
    <p class="text-gray-500 text-center">No hay series recientes.</p>
    }
  </div>

  <div class="bg-white p-4 shadow-md rounded-lg">
    <h2 class="text-3xl font-bold text-primary text-center mb-6">
      ⭐ Éxitos con Mejor Puntuación
    </h2>

    @if (highRatedSeries.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6">
      @for (serie of highRatedSeries.slice(0, 3); track serie.id) {
      <app-series-card [serie]="serie"></app-series-card>
      }
    </div>
    } @else {
    <p class="text-gray-500 text-center">No hay series con alta puntuación.</p>
    }
  </div>
</div>
